* { font-family: Verdana; font-size: 96%; }
p { display: block; margin-top: 10px; }
p.error { display: block; float: none; color: red; margin: -14px .5em 0 0; vertical-align: baseline; font-size: 10px }
p { clear: both; }
.submit { margin-top: 1em; }
em { font-weight: bold; padding-right: 1em; vertical-align: baseline; }